<div id="disqus_thread"></div>
<link rel="stylesheet" href="<%= theme.disqus.api %>/iDisqus.min.css">
<script src="<%= theme.disqus.api %>/iDisqus.min.js"></script>
<script>
  (function () {
    var disqus = new iDisqus('disqus_thread', {
      forum: '<%= theme.disqus.shortname %>',
      site: '<%= config.url %>',
      api: '<%= theme.disqus.api %>',
      url: '<%= page.permalink %>',
      mode: 2,
      timeout: 3000,
      init: true,
      autoCreate: true,
      relatedType: false
    });
    disqus.count();
  })();
</script>