<div id="disqus_thread"></div>
<link rel="stylesheet" href="./disqus/disqusjs.css">
<style>
#disqus_thread #dsqjs footer{text-align:center}
#disqus_thread #dsqjs #dsqjs-msg{display:none}
#disqus_recommendations{padding:0 36px}
@media screen and (max-width:800px) {
  #disqus_recommendations{padding:0 10px}
}
</style>
<script src="./disqus/disqus.js"></script>
<script>
  (function () {
    var dsqjs = new DisqusJS({
      shortname: '<%= theme.disqus.short_name %>',
      siteName: '<%= theme.disqus.site_name %>',
      identifier: '<%= page.path %>',
      url: '<%= page.permalink %>',
      title: '<%= page.title %>',
      api: '<%= theme.disqus.api %>',
      apikey: '<%= theme.disqus.api_key %>',
      admin: '<%= theme.disqus.admin %>',
    });
  })();
</script>
