<div id="disqus_thread"></div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqusjs.css">
<script src="https://cdn.jsdelivr.net/npm/disqusjs@1.3dist/disqus.js"></script>
<script>
  (function () {
    var dsqjs = new DisqusJS({
      shortname: '<%= theme.disqus.short_name %>',
      siteName: '<%= theme.disqus.site_name %>',
      identifier: '<%= page.path %>',
      url: '<%= page.permalink %>',
      title: '<%= page.title %>',
      api: '<%= theme.disqus.api %>',
      apikey: '<%= theme.disqus.api_key %>',
      admin: '<%= theme.disqus.admin %>',
    });
  })();
</script>
